body {
  background-color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 3rem;
}

input {
  font-size: 2rem !important;
  font-weight: bold !important;
  font-color: red !important;
}

.letter-guesses {
  font-size: 4rem;
  margin-right: 2rem;
}